.Gmail {
  border-radius: 50%;
   height: 50px;
  margin: 1rem;
  position: absolute;
  left: 600px;
  top: 620px;
  width: 50px;
  opacity: .5;
}

.Gmail:hover{

 transform: scale(1.1);
  cursor: pointer;
  opacity: 1.0;

}

.Github{
  border-radius: 50%;
   height: 50px;
  margin: 1rem;
  position: absolute;
  left: 680px;
  top: 620px;
  width: 50px;
  opacity: .5;
}

.Github:hover{

 transform: scale(1.1);
  cursor: pointer;
  opacity: 1.0;

}

.Linkedin {
  border-radius: 50%;
   height: 50px;
  margin: 1rem;
  position: absolute;
  left: 755px;
  top: 620px;
  width: 50px;
  opacity: .5;
}

.Linkedin:hover{

 transform: scale(1.1);
  cursor: pointer;
  opacity: 1.0;

}